{% extends 'html/header.html' %}
{% block title %}login{% endblock %}
{% block content %}
<div class="container">
	<div class="card col-md-8 mx-auto shadow-lg">
		<div class="card-body">
			<h3 class="bg-success text-light p-3 text-center rounded">Login<h3>
				<form>
					<input type="text" name="" placeholder="Username" class="form-control my-2">
					<input type="password" name="" placeholder="password" class="form-control my-2">
					<input type="submit" class="btn btn-primary btn-block" value="submit">
				</form>
		</div>
	</div>
</div>

{% endblock %}