{% extends 'html/header.html' %}
{% block title %}Details{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="card col-md-4">
			<h4 class="text-danger">profile image</h4>
			<div class="card-body">
				<img src="https://media5.picsearch.com/is?La4QO4dAlhWQmnq6H9JFkr3hDEN2dI6JE-z_EXRvpdg&height=255" height="200px" width="200px">
			</div>
		</div>
		<div class="card col-md-4">
		    <h4>user_detail</h4>
		    <div class="">
		    	<h2><label class="text-warning">UserName : {{d.us}}</label></h2>
		    	<h2><label class="text-warning">Email : {{d.m}}</label></h2>
		    </div>
		</div>
	</div>
</div>
{% endblock %}