
{% extends 'html/header.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container">
	<div class="row mt=5">
		<div class="card col md-5 mx-2">
			<h2>Sample1</h2>
			<div class="row">
				<div class="col mx-1 jumbotron">
					<h4>j1</h4>
				</div>
				<div class="col mx-1 jumbotron">
					<h4>j2</h4>
				</div>
				<div class="col mx-1 jumbotron">
					<h5>j3</h5>
				</div>
			</div>
		</div>
		<div class="card col mx-2">
			<h2>Sample2</h2>
		</div>
	</div>
</div>
  
</div>
{% endblock %}
